@font-face {
    font-family: jetbrains;
    src: url(../assets/JetBrainsMono-Medium.ttf);
}


body{
    background-image: url(../img/bg.jpg);
    margin: 0;
    padding: 0;
    background-size: cover;
    z-index: -1;
    background-repeat: no-repeat;
    color: rgb(76, 96, 211);
    font-family: jetbrains;
}