body, html
{
    margin: 0;
    font-family: Oswald, sans-serif, Arial;
    background: #fff
}

.leftop {
    position: relative;
    top: 30vh;
    left: 35vh;
    transform: translate(-50%, -50%)
    
}
.container {
    position: relative;
    text-align: center;
}